<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
  .reg {
    color: red;
  }
</style>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <h2>Login Form</h2>
      {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endif %}
      <form action="/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
        </div>
        <div class="form-group">
          <label for="pwd">Password</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button> <br><br><br>
        or<br><br>
        <p class="justify-content-center">New user?</p>
        <a href="/register" class="reg">Register</a>
      </form>
    </div>
  </div>
</div>

</body>
</html>


