<!DOCTYPE html>
<html lang="en">
<head>
  <title>Client Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Available PDFs and YouTube Videos</h2><br>

    <div class="row mt-5">
      {% for file in files %}
      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ file.display_name }}</h5>
            <a href="{{ url_for('uploaded_file', filename=file.filename) }}" class="btn btn-secondary">View</a>
            <a href="{{ url_for('download', file_id=file.id) }}" class="btn btn-primary">Download</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="row mt-5">
      <h3>Available YouTube Videos</h3>
      {% for link in youtube_links %}
      <div class="col-sm-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ link.display_name }}</h5>
            <a href="{{ link.url }}" target="_blank" class="btn btn-secondary">Watch</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
</div>

</body>
</html>
